table.status {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    
    border-collapse: collapse;
}


table.status tr.major-header {
    width: 100%;
    
    font-size: 52px;
    font-weight: bold;
    color: #E84C3D;
}
table.status tr.major-header td {
    padding-bottom: 5px;
}


table.status tr.minor-header {
    width: 100%;
    
    font-size: 34px;
    font-weight: bold;
    color: #E87C3D;
}
table.status tr.minor-header td {
    padding-top: 10px;
}


table.status tr.timer td {
    width: 100%;
    
    font-size: 28px;
}