<style>
.svg-container {
	display: inline-block;
	position: relative;
	width: 100%;
	vertical-align: middle;
	overflow: hidden;
  padding-top: 15px;
  padding-bottom: 20px;
}

.svg-text {
  color: white;
  font-size: 12px !important;
}

.svg-link {
  text-decoration: none !important;
}
</style>

<div class="svg-container">
  <svg version="1.1" viewBox="0 0 500 50" preserveAspectRatio="xMinYMin meet" class="svg-content">
    <defs>
      <marker id="arrow" markerWidth="4" markerHeight="10" viewBox="-2 -4 4 4" refX="0" refY="0" markerUnits="strokeWidth" orient="auto">
        <polyline points="2,-2 0,0 2,2" stroke="#443c3d" stroke-width="0.75px" fill="none"/>
      </marker>
    </defs>

    <g class="box-group">
      <a xlink:href="/wiki/start/setup" class="svg-link"> <!-- Dev Env -->
        <g transform="translate(4)">
          <rect fill="{% if include.current == '0' %}#66cc00{% endif %}{% if include.current != '0' %}#747871{% endif %}" x="2" y="2" rx="3" ry="3" width="90" height="45" />
          <foreignObject x="8" y="6" width="78" height="45">
            <p xmlns="http://www.w3.org/1999/xhtml" class="svg-text">Set Up a Dev Environment</p>
          </foreignObject>
        </g>
      </a>

      <line x1="100" x2="136" y1="27" y2="27" stroke-width="2" stroke="#443c3d" stroke-dasharray="2,1" />

      <a xlink:href="/wiki/start/project-generation" class="svg-link">   <!-- Generate Project -->
        <g transform="translate(136)">
          <rect fill="{% if include.current == '1' %}#66cc00{% endif %}{% if include.current != '1' %}#747871{% endif %}" x="2" y="2" rx="3" ry="3" width="90" height="45" />
          <foreignObject x="8" y="6" width="78" height="45">
            <p xmlns="http://www.w3.org/1999/xhtml" class="svg-text">Generate a Project</p>
          </foreignObject>
        </g>
      </a>

      <line x1="230" x2="268" y1="27" y2="27" stroke-width="2" stroke="#443c3d" stroke-dasharray="2,1" />

      <a xlink:href="/wiki/start/import-and-running" class="svg-link"> <!-- Import & Run Configs -->
        <g transform="translate(268)">
          <rect fill="{% if include.current == '2' %}#66cc00{% endif %}{% if include.current != '2' %}#747871{% endif %}" x="2" y="2" rx="3" ry="3" width="90" height="45" />
          <foreignObject x="8" y="6" width="78" height="45">
            <p xmlns="http://www.w3.org/1999/xhtml" class="svg-text">Importing & Running</p>
          </foreignObject>
        </g>
      </a>

      <line x1="362" x2="400" y1="27" y2="27" stroke-width="2" stroke="#443c3d" stroke-dasharray="2,1" />

      <a xlink:href="/wiki/start/a-simple-game" class="svg-link"> <!-- Simple Game -->
        <g transform="translate(400)">
          <rect fill="{% if include.current == '3' %}#66cc00{% endif %}{% if include.current != '3' %}#747871{% endif %}" x="2" y="2" rx="3" ry="3" width="90" height="45" />
          <foreignObject x="8" y="6" width="78" height="45">
            <p xmlns="http://www.w3.org/1999/xhtml" class="svg-text">A Simple Game</p>
          </foreignObject>
        </g>
      </a>
    </g>
  </svg>
</div>
